:root {
  --light-gray: #BFBDC1;
  --slate-gray: #6D6A75;
  --charcoal:  #37323E;
  --wheat-gold: #DEB841;
  --burnt-gold: #DE9E36;
}

* {
    box-sizing: border-box;
    margin:	0% 0% 0% 0%;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--light-gray);
}

#nav_main {
    background-color: var(--charcoal);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

#nav_main ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#nav_main a {
    color: var(--light-gray);
    text-decoration: none;
}

header {
    background-color: var(--charcoal);
    color: var(--light-gray);
    display: flex;
}

.other_title_color {
   color: var(--wheat-gold); 
}

.section_2 {
    background-color: var(--light-gray);
    color: var(--charcoal);
}

.section_3 {
    background-color: var(--burnt-gold);
    color: var(--charcoal);
}

.section_4 {
    background-color: var(--charcoal);    
}

footer {
    background-color: var(--light-gray);
    color: var(--charcoal);
}

button {
    background-color: var(--wheat-gold);
    color: var(--charcoal);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h1, h2, h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}


/*
I want to do an effect over links 
.main-nav a:hover,
.main-nav a:focus {*/


