:root {
  --light-gray: #BFBDC1;
  --slate-gray: #6D6A75;
  --charcoal:  #37323E;
  --wheat-gold: #DEB841;
  --burnt-gold: #DE9E36;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin:	0% 0% 0% 0%;
    padding: 0;
}

#nav_main {
    display: flex;
    justify-content: space-around;
    background-color: var(--charcoal);
    color: var(--light-gray);
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.header {
    background-color: var(--charcoal);
    color: var(--light-gray);
    display: flex;
}

.title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.other_title_color {
   color: var(--wheat-gold); 
}

.section_2 {
    background-color: var(--light-gray);
    color: var(--charcoal);
}

.section_3 {
    background-color: var(--burnt-gold);
}

.section_4 {
    background-color: var(--charcoal);    
}

.footer {
    background-color: var(--light-gray);
}

button {
    background-color: var(--wheat-gold);
    color: var(--charcoal);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.heading {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}


/*
I want to do an effect over links 
.main-nav a:hover,
.main-nav a:focus {*/


