:root {
  --light-gray: #BFBDC1;
  --slate-gray: #6D6A75;
  --charcoal:  #37323E;
  --wheat-gold: #DEB841;
  --burnt-gold: #DE9E36;
}

* {
    box-sizing: border-box;
    margin:	0% 0% 0% 0%;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--light-gray);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.page-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
}

#nav_main {
    background-color: var(--charcoal);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 1rem;

}

#nav_main ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

#nav_main a {
    color: var(--light-gray);
    text-decoration: none;
}

header {
    background-color: var(--charcoal);
    color: var(--light-gray);
}

header h1 {
  margin: 0;
  line-height: .9;
}


.section_2 {
    background-color: var(--light-gray);
    color: var(--charcoal);
}

.section_3 {
    background-color: var(--burnt-gold);
    color: var(--charcoal);
}

.section_4 {
    background-color: var(--charcoal);    
}

footer {
    background-color: var(--light-gray);
    color: var(--charcoal);
}

button {
    background-color: var(--wheat-gold);
    color: var(--charcoal);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;


    padding: 0.75rem 1.75rem;
    border: none;
    border-radius: 10px;
    margin: 1rem;

    font-size: 1rem;
    font-weight: 600;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

ul {
    list-style-type: none;
}
/*
I want to do an effect over links 
.main-nav a:hover,
.main-nav a:focus {*/


