:root {
  --light-gray: #BFBDC1;
  --slate-gray: #6D6A75;
  --charcoal:  #37323E;
  --wheat-gold: #DEB841;
  --burnt-gold: #DE9E36;
}

/* might make two different headers for mobile and desktop
    @media only screen and (max-width: 767px) {
    header {
        display: none;
    }
} */

* {
    box-sizing: border-box;
    margin:	0% 0% 0% 0%;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--light-gray);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
}

#nav_main {
    background-color: var(--charcoal);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 1rem;
}

#nav_main ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#nav_main a {
    color: var(--light-gray);
    text-decoration: none;
}

header {
    background-color: var(--charcoal);
    color: var(--light-gray);
    
}

header h1 {
  margin: 0;
  line-height: .9;
}

.section_2 {
    background-color: var(--light-gray);
    color: var(--charcoal);
}

.section_3 {
    background-color: var(--burnt-gold);
    color: var(--charcoal);
}

.section_4 {
    background-color: var(--charcoal);    
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

footer {
    background-color: var(--light-gray);
    color: var(--charcoal);
        padding: 1rem 0; 
}

button {
    background-color: var(--wheat-gold);
    color: var(--charcoal);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.75rem 1.75rem;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    max-height: 3rem;

    font-size: 1rem;
    font-weight: 600;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
}

h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

h4 {
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
    line-height: 2rem;
    font-weight: 450;
}

p {
    padding: .6rem 0;
}

section {
    padding: 1rem 0; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}

.card {
    background-color: var(--wheat-gold);
    padding: 1rem;
}

.gray {
    background-color: var(--light-gray);
}

.contact-page {
    background-color: var(--light-gray);
    color: var(--charcoal);
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem 0rem 0rem 1.25rem;

  background-color: var(--charcoal);
  color: var(--light-gray);
}

@media (max-width: 700px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}

.icon {
    fill: var(--light-gray);
    width: 4rem;
    height: auto;
    padding-right: 1rem;

}

.contact-info {
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid var(--light-gray);
}

.contact-grid h2, .contact-grid h4, .contact-grid p {
    padding: 0;
}

form {
    background-color: var(--burnt-gold);
    padding: 1.5rem 2rem;
    height: 100%;
    width: 17rem;
    transform: translateY(-5rem);
}

label {
    color: var(--charcoal);
    font-weight: 500;
}
input {
    background-color: var(--light-gray);
    width: 100%;
    min-height: 2rem;
}

textarea {
    width: 100%;
    min-height: 5rem;
    background-color: var(--light-gray);
}

.contact-button {
    background-color: var(--charcoal);
    color: var(--light-gray);
}